.Electronics {
  display: flex;
  height: 361px;
  width: 100%;
  padding: 20px 0px;
}
.label {
  height: 361px;
  width: 230px;
  border: 1px solid black;
  margin-left: 5px;
}
.eleProducts {
  display: flex;
  height: 361px;
  margin-left: 5px;
}
.one {
  margin-left: 5px;
  border: 1px solid red;
  height: 361px;
  width: 230px;
}
img {
  margin-top: 10px;
}
